@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a,
button {
  @apply rounded-md border-none px-4 py-1 bg-gray-400 text-white font-bold text-[14px] cursor-pointer transition duration-150 no-underline hover:brightness-110;
}

h1 {
  @apply text-4xl my-0 font-black;
}

.container {
  @apply w-full mx-auto;
  max-width: calc(1400px - calc(2 * 30px));
}

#EditMovie > .container,
#CreateMovie > .container {
  @apply flex flex-col justify-center items-center mt-8;
}

/* Table CSS */
table {
  @apply w-full border-solid border-2 border-black border-opacity-30 border-collapse;
  th,
  td {
    @apply text-left px-3 py-3.5;
  }
  thead > tr {
    @apply text-white bg-gray;
  }
  .controls {
    @apply flex items-center;
    button {
      @apply last:bg-red last:ml-1.5;
    }
  }
  tr:nth-child(even) {
    @apply bg-gray-light;
  }
  td:last-of-type,
  th:last-of-type {
    @apply border-solid border-l-2 border-black border-opacity-20;
  }
}

/* Form CSS */
form {
  @apply flex flex-col w-full;
  label {
    @apply font-bold cursor-pointer;
  }
  section {
    @apply w-full max-w-[600px] mx-auto my-5;
  }
  input {
    @apply w-full p-4 mt-1 font-bold text-[16px] text-black outline-hidden bg-gray-light shadow-md
            border-solid border-2 border-black border-opacity-5 rounded-md;
  }
  .buttons {
    @apply w-full max-w-[300px] flex items-center mx-auto mt-5;
  }
  button {
    @apply w-full mx-auto p-4 cursor-pointer text-[15px] first:bg-red last:bg-green last:ml-3;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Notification CSS */

#Notification {
  @apply fixed bottom-0 right-14 transition duration-150 opacity-0;
  &.active {
    @apply opacity-100;
  }
  .container {
    @apply p-4 w-[400px] rounded-t-lg text-white font-bold text-[17px] flex flex-col items-center;
    box-shadow: -3px -5px 5px rgba(0, 0, 0, 0.16);
  }
  button {
    @apply bg-white text-black w-full text-[15px] mt-3 max-w-[250px];
  }
  .is-deleted {
    @apply bg-red;
  }
  .is-edited {
    @apply bg-gray;
  }
  .is-created {
    @apply bg-green;
  }
}

#InputValidator {
  background: gray;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
}
